html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  background: #fff;
  overflow: hidden;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  font-size: inherit;
}

canvas {
	display: block;
	outline: 0;
}

/* Developer console*/
@font-face {
    font-family: 'ubuntu-condensed';
    src: url('Ubuntu-C.ttf');
}

/* Title */
@font-face {
    font-family: 'distant-galaxy';
    src: url('DISTGRG_.ttf');
}

/* ingame menu text */
@font-face {
    font-family: 'chunkfive';
    src: url('Chunkfive.otf');
}

/* Text buttons */
@font-face {
    font-family: 'molot';
    src: url('Molot.otf');
}
